
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200&display=swap');

*{
    margin: 0px;
    padding:0px;
    font-family: 'Public Sans', sans-serif;
}

header{
    height: 75px;
    position: sticky;
    background-color:rgb(202, 186, 186);
}
#heading{
    margin: 10px 0px;
}
#intro{
    font-size: 20px;
    margin: 50px;
}

#bmicalculator {
    border: 2px solid grey;
    border-radius: 5px;
    display: block;
    margin:40px auto;
    width: 40%; 
    padding:15px;
    box-shadow: rgb(23 43 99 / 30%) 0 7px 28px;
    background-color: rgb(221, 216, 216);
}
#bmibox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    margin: 5px;
    padding:5px;
    border: 3px solid;
    border-radius: 5px;
    font-weight: bold;
}
.userinput{
    margin:5px;
}
input{
    padding:5px;
    margin: 5px;
    border: 3px solid rgb(133, 133, 216);
    border-radius: 5px;
}
option{
    padding:5px;
    margin: 5px;
}
#short-result{
    font-weight: bold;
    color: crimson;
}
#contents td{
    border: 2px solid brown;
    text-align: center;

}
.tableheading{
    background-color: rgb(230, 16, 80);
    font-weight: bold;
}
#contents{
    margin: 0px 50px;
}
#bmiformula{
    margin: 0px 50px;
}
footer{
    position: relative;
    background-color: rgb(218, 168, 168);
    height: 15px;
    margin-bottom: 0px;
}